@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap'); /*changed this*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif; /*changed this*/
}
body{
  width: 100%;
}

p{
    font-size: 16px;
    font-weight: 500;
    color: #333;
    line-height: 1.5; /*changed this*/
}
h1{
    font-size: 43px;
    font-weight: 800;
    color: #333;
}
h3{
    font-size: 32px;
    font-weight:600;
    color: #333;
    line-height: 1.5; /*added this*/
}
/*added this*/
h6{
  line-height: 1.5;
}

/* Navigation */
#header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px 20px;
    background: #f1f1f1;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.menu-icon {
  display: none; 
  cursor: pointer;
}  

.menu-icon .icon {
  width: 25px;
  height: 3px;
  background-color: #1a1a1a;
  margin: 5px;
  transition: background-color 0.3s ease;
}

#navbar{
    display: flex;
    align-items: right;
    justify-content: right;
    margin: 0;
    padding: 0;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    color: #1a1a1a;
    transition: 0.3s, ease;
    text-transform: capitalize;
}

#navbar li a:hover 
#navbar li a:active{
    color: #3CB371;
}

/* Banner section */

.hero{
    background: url(Images/hero.jpg);
    height: 70vh;
    width: 100%;
    /*background-position: bottom 5% right 0%;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero .content {
  position: relative;
  z-index: 1;
}
.hero button{
    background-color: #000000CF; /* I changed the color of the buttons*/
    padding: 15px 20px;
    font-size: 16px;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
}
.hero button.first {
    font-size: 32px;
}
.hero button.second {
    font-size: 23px;
    margin-top: 15px;
}

/* First section */
.container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 50px 15px;
  }
  
  .text-container {
    background-color: white;
    padding: 5px 25px;
    position: absolute;
    margin-top: 165px; /*changed this*/
    z-index: 1;
    height: 175px; /*changed the height*/
    width: 530px;
    margin-left: 250px; /*changed this*/
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  .text-container h3{
    font-size: 23px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize; /* I added this*/
    padding: 2px;
  }
  .text-container p{
    font-size: 14px;
    font-weight: 400;
    color: #0a0a0a;
    text-align: justify;
  }
/*changed this image section*/
  .image {
    margin-left: 450px;
    width: 100%;
    max-width: 700px; 
    max-height: 350px;
    height: auto;
  }

/* second section */
.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px;
    margin-bottom: 55px; /*changed this*/
  }
/*added this part*/
  .image-container img {
    max-width: 100%; 
    height: auto; 
  }

  .text-container2 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .text-container2 p {
    margin: 0;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
  }
  .text-container2 h3{
    margin: 0;
    color: #000;
    font-size: 23px;
    font-weight: 600;
    text-align: justify;
    text-transform: capitalize;/*changed this*/
  }

  /* third section */
.third{
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 120px; 
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f1f1f1;
}
/* i added this*/
.third img {
  max-width: 100%; 
  height: auto; 
}

.text-container3 {
    background-color: white;
    padding: 5px 25px;
    position: absolute;
    margin-top: -245px; 
    z-index: 1;
    height: 250px; /*changed this*/
    width: 600px;
    margin-left: 160px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  .text-container3 h3{
    font-size: 23px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize; /*added this*/
    padding: 2px;
  }
  .text-container3 p{
    font-size: 14px;
    font-weight: 400;
    color: #0a0a0a;
    text-align: justify;
  }
  .image3 {
    margin-left: 450px;
    width: 700px; /* Adjust the desired width */
    height: 350px;
  }

 /* Fourth Section */
 .fourth {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px;
    background-color: #f1f1f1;
  }
  /*made changes to this image part*/
 .fourth img{
    max-width: 1000px;
    max-height: 600px;
    width: 100%;
    height: auto;
 } 
  
  .text-container4 {
    position: absolute;
    top: 49%;
    left: 65%; 
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 365px; /*changed this*/
  }
  
  .text-container4 p {
    margin: 0;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    padding-bottom: 2px;
  }
  .text-container4 h3{
    margin: 0;
    color: #000;
    font-size: 23px;
    font-weight: 600;
    text-align: justify;
  } 
/* made changes to the next 2 parts for the lists*/
  .text-container4 ul li{
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    line-height: 1.5; /*added this*/
  }
  /*check this section too*/
  .text-container4 ul {
    list-style-type: disc; 
    margin-left: 20px; 
    padding-left: 20px; 
  }
  /* Portfolio */
  .heading{
    color: #000;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    padding-top:30px ;
  }
  .portfolio{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
  }
  .imagesect{
    width: 180px;
    height: 80px;
    padding-top: 15px;
  }
/*added this next part*/
  .imagesect img{
    width: 100%;
    height: auto;
  }

  .textsect{
    padding-top: 55px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    width: 800px;
    height: 200px;
    text-align: left;
  }
  .textsect h5{
    font-size: 23px;
    font-weight: 600;
    padding-bottom: 5px;
  }
  .textsect a{
    font-size: 16px;
    font-weight: 500;
  }
  .textsect p{
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
    color: #050505;
  }

  /* fifth section */
  .fifth {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 38px;
    background-color: #f1f1f1;
    padding-top: 200px; /*changed this*/
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /*changed this part and added some specs*/
  .fifth img{
    max-width: 900px;
    max-height: 550px;
    width: 100%;
    height: auto;
  }
  
  .text-container5 {
    position: absolute;
    top: 35%; /*changed this*/
    left: 50%; /*changed this*/
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 18px;
   margin-top: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    width: 470px;
    height: auto; /*changed this*/
  }
  
  .text-container5 p {
    margin: 0;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
  }
  .text-container5 h3{
    margin: 0;
    color: #000;
    font-size: 23px;
    font-weight: 600;
    text-align: justify;
  }
  .text-container5 h6{
    margin: 0;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-align: justify;
  }
 /* .text-container5 ul li{
    list-style-type: none;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
  } */

  /*added the next 2 parts*/
  .text-container5 ul {
    list-style-type: disc; 
    margin-left: 20px; 
    padding-left: 20px; 
  }
  
  .text-container5 ul li {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5; /* added this*/
  }
  .list{
    columns: 2;
  }

 /* Responsiveness css starts here*/
  @media only screen and (max-width: 768px){
    html,
    body{
    width:100%;
    overflow-x:hidden;
    padding: 0;
    }
/*for first section*/
    .container{
      flex-direction: column;
      align-items: center;
      padding: 130px 165px;
    }
    .text-container {
      width: 100%;
      margin: 20px auto;
      position: static;
      height: auto;
    }
  /*for second section*/
    .image {
      margin: 20px auto;
      max-width: 100%;
    }
    .image-container {
      padding: 30px 15px;
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  
    .text-container2 {
      position: static;
      transform: none;
      margin: 20px auto;
    }
/*for third section*/
    .third {
      flex-direction: column;
      padding: 60px 15px;
    }
  
    .text-container3 {
      position: static;
      margin: 20px auto;
      width: 100%;
      height: auto;
    }
  
    .image3 {
      margin: 20px auto;
      width: 100%;
    }
    /*for fourth section*/
    .fourth {
      flex-direction: column-reverse;
      padding: 30px 15px;
      text-align: center;
    }
  
    .fourth img {
      max-height: 400px;
      margin-top: 10px;
    }
  
    .text-container4 {
      position: static;
      margin-top: 20px;
      width: 100%;
      height: auto;
      transform: none;
      left: auto;
      text-align: center;
    }
    .text-container4 li{
      text-align: left;
    }
    /*for portfolio section*/
    .portfolio {
      flex-wrap: wrap;
    }
  
    .imagesect {
      width: 100px;
      height: auto;
      padding: 0;
    }
  
    .textsect {
      width: 100%;
      padding: 20px;
      text-align: center;
      height: auto;
    }
    .textsect p{
      text-align: justify;
      padding-top: 10px;
    }
    /*for fifth section*/
    .fifth {
      flex-direction: column;
      align-items: center;
      padding-top: 16px;
    }
  
    .fifth img {
      max-width: 100%;
    }
  
    .text-container5 {
      position: static;
      transform: none;
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      height: auto;
    }
}
@media (max-width: 768px) {
  
  /* Collapse the navigation bar into a hamburger menu */
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar li {
    display: block;
    margin-bottom: 10px;
  }
/*for hero section*/
  .hero {
    padding: 10px;
  }

  .hero .first {
    font-size: 20px;
  }

  .hero .second {
    font-size: 14px;
  }
  .container{
    width: 100%;
    padding: 10px;
  }
}







