@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
h1{
    font-size: 43px;
    font-weight: 800;
    color: #333;
}
h3{
    font-size: 32px;
    font-weight:600;
    color: #333;
}
/* Navigation */
#header{
    display: flex;
    justify-content: flex-end;
    align-items: right;
    padding: 20px 80px;
    background: #f1f1f1;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: right;
    justify-content: right;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    color: #1a1a1a;
    transition: 0.3s, ease;
}

#navbar li a:hover{
    color: #3CB371;
}

/* Banner section */

.hero{
    background: url(Images/hero.jpg);
    height: 70vh;
    width: 100%;
    background-position: bottom 5% right 0%;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero button{
    background-color: #00000070;
    padding: 15px 20px;
    font-size: 16px;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
}
.hero button.first {
    font-size: 32px;
}
.hero button.second {
    font-size: 23px;
    margin-top: 15px;
}

/* First section */
.one{
    display: flex;
    justify-content: space-between;
    padding: 50px 15px;
}